<div class="span3 movie_list">
  <div class="movie_poster_thumbnail">
    <%= image_tag(movie.poster) %>
  </div>
  <div class="movie_title">
    <h5><%= link_to movie.title, each_movie_path(movie) %></h5>
  </div>
</div>