<h1>Movbie - Your Rails Movie Collection</h1>

<h3>Search a Movie</h3>
<form action="/movies/search" method="get">
  <input type="string" name="title" autofocus>
  <button class="btn btn-info">Go!</button>
</form>