<div class="well">
  <h1>Movie Results</h1>
  <div class="row-fluid">
    <div class="span12">
      <% @movie_list.each do |movie| %>
        <h5><%= link_to movie.title, movie.id %></h5>
      <% end %>
    </div>
  </div>
</div>