// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/////Universal
a {
  text-decoration: none;
}

.nav {
  margin: 10px auto;
  font-size: 1.1em;
}

.center {
  text-align: center;
}

/////Movies
//Saved

.row-fluid > .span3:nth-child(4n+5) {
  clear: left;
  margin-left: 0px;
}

.movie_list {
  margin-top: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid #D8D8D8;
  height: 400px;
}

.movie_title {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.movie_poster_thumbnail img{
  height: 300px;
  width: auto;
}

//Movie Page
.movie_poster {
  width: 280px;
  height: auto;
  margin-top: 10px;
  img {
    border: 5px solid #000;
  }
}

.button {
  float: right;
  display: inline-block;
  width: auto;
}

//Actors
.cast-list {
  margin-left: 0;
  li {
  list-style: none;
  display: inline-block;
  margin-left: 6px;
  padding-right: 6px;
  border-right: 1px solid #D8D8D8;
  }
  li:last-child {
    border: 0;
  }
}