// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.movie_poster {
  width: 300px;
  height: auto;
  margin-top: 10px;
}

a {
  text-decoration: none;
}

.nav {
  margin: 10px auto;
}

.center {
  text-align: center;
}

.list {
  li {
  list-style: none;
  display: inline-block;
  }
  li:last-child {

  }
}