<div class="nav">
  <%= link_to "Movbie", root_path %> |
  <%= link_to "Saved Movies", saved_path %> |
  <%= link_to "Saved Actors", actors_path %> |
  <%= link_to "Search Favorite Movies by Year", search_movie_by_year_path %>
</div>